lightning==2.5.3
lightning-utilities==0.15.2
matplotlib==3.10.5
mlflow==3.3.0
mlflow-skinny==3.3.0
mlflow-tracing==3.3.0
numpy==2.1.2
optuna==4.5.0
pandas==2.3.1
pennylane==0.42.2
pennylane-lightning==0.42.0
pytorch-lightning==2.5.3
scikit-learn==1.7.1
seaborn==0.13.2
torch==2.5.1+cu121
torch-geometric==2.6.1
torchaudio==2.5.1+cu121
torchmetrics==1.8.1
torchvision==0.20.1+cu121
